.contact-boxes-section {
  background: url('<?php echo get_template_directory_uri(); ?>/assets/images/BG-Table.png') center/cover no-repeat;
 background-color: #000;
  padding: 100px 20px;
  /* background: #0B0D16; */
  text-align: center;
  display: column;
}
.contact-boxes-section h2{
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.contact-row-body {
  gap: 20px;
  display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.contact-row-roundedContainer { 
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: left;
    flex: 1 1 30%;
    padding: 30px;
    margin: 20px;
}


